# Installation of python

Open a Web browser and go to https://www.python.org/downloads/

In [3]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

In [5]:
print(counter)
print(miles)
print(name)

100
1000.0
John

In [6]:
## Multiple Assignment
a = b = c = 1
a,b,c = 1,2,"john"

In [7]:
## Python Strings
str = 'Hello World!'

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th
print(str[2:])     # Prints string starting from 3rd character
print(str * 2)     # Prints string two times
print(str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [9]:
## Single Statement Suites

var = 100
if ( var == 101 ) : 
  print("Value of expression is 100")
print("Good bye!")

Good bye!

In [11]:
class MyClass:
  x = 5

In [12]:
print(MyClass)

<class '__main__.MyClass'>

In [13]:
p1 = MyClass()
print(p1.x)

5

# Note:
The __init__() Function

the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created

Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

In [14]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [10]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# Loops in python

In [12]:
# 1. While loop

# Syntax:
# while expression:
    #statement(s)

In [15]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):   
    count = count + 1
    print("Hello")

Hello
Hello
Hello

In [15]:
#if condition:
    # execute these statements
#else:
    # execute these statements

In [17]:
#while condition:
     # execute these statements
#else:
     # execute these statements

In [18]:
# for in loop
# Syntax
# for iterator_var in sequence:
#    statements(s)

In [16]:
# Iterating over range 0 to n-1
 
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [17]:

# Iterating by index
 
list = ["one", "two", "three"]
for index in range(len(list)):
    print(list[index])

one
two
three

In [22]:
#for iterator_var in sequence:
#    for iterator_var in sequence:
#        statements(s)
#        statements(s)